@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: "Montserrat", sans-serif;
}
